.form{
    box-sizing: border-box;
    position:absolute;
    width: 400px;
    height: auto;
    border : 1px solid rgb(204, 195, 195);
    padding: 10px;
    right:calc(50% - 200px);
    margin-top: 60px;
    text-align: center;
    border-radius: 2%;
}
.m-label{
    font-family: cursive;
}
.redir_comp{
    padding-top: 15px;
}
.small_text{
    margin-right: 5px;
}
.link{
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}